.image-error {
  display: flex;
  justify-content: center;
  align-items: center;
  height:100vh;
 
}

.image-error img{
    width:100%;
    height:auto;
}
.container-image{
    width:80%;
    margin: auto;
  
}
.go-back{
    margin: 3rem 0rem;
}
.go-back a{
text-decoration: none;
background-color: blue;
color: antiquewhite;
padding: 10px 16px;
border-radius: 10px;

}


@media(max-width:748px){

}

