  <header>
  <div class="logo">
    <figure>
        <img src="/logo1.png" id="header-logo" alt="Logo Weather Cloud">
    </figure>
  </div>

  <div class="navbar-list">
    <nav>
        <a href="/">Home</a>
        
        <a href="/news">News</a>
        <a href="/contact">Contact</a>
    </nav>
  </div>

  <div class="open-map">
    <a href="https://www.google.com/maps" target="_blank" class="map-open">Open Map</a>
  </div>

  <div class="bar">
    <i class="fa fa-bars fa-2x"></i>
        
    </span>
  </div>


   </header>

   <section class="mobile-navbar">
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/features">Features</a></li>
        <li><a href="#news">News</a></li>
        <li><a href="/contact">Contact</a></li>
     
    </ul>


    <li style="margin-top:10px"><a href="https://www.google.com/maps" target="_blank"  class="map-open map-open-mobile">Open Map</a></li>
   </section>
   <div class="line"></div>