<!DOCTYPE html>
<html lang="en">
<head>
   {{>headerLink}}
</head>
<body>


    <!------------Navbar Creation ---------------------->
{{>header}}
 <main>
    <div class="container-image">
        <div class="go-back">
            <a href="/">Go back</a>
        </div>
    
        <div class="image-error">
            <figure>
              <img src="/error2.jpg" alt="">
            </figure>
        </div>
    </div>
</main>
{{>footer}}
{{>footerlink}}
  
</body>
</html>