<!DOCTYPE html>
<html lang="en">
<head>
   {{>headerLink}}
</head>
<body>


    <!------------Navbar Creation ---------------------->
{{>header}}
 <main>
</main>
{{>footer}}
{{>footerlink}}
  
</body>
</html>