<!DOCTYPE html>
<html lang="en">
<head>
   {{>headerLink}}
       <link rel="stylesheet" href="/css/news.css">
</head>
<body>


    <!------------Navbar Creation ---------------------->
{{>header}}
<main>
<section id="news">
        <div class="news-heading">
    <h1 style="text-align:center;margin-top:2rem;">All News</h1>
    
            </div>
    
            <div class="parents-container">
                <div class="news-container">
                 
                </div>
            </div>
           
       
    
        <div class="btn-load">
            <button id="load">Load More</button>
           
        </div>
      </section>
</main>



{{>footerlink}}
  
</body>
</html>